/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2015, 12:43:26 PM
    Author     : Bryan
*/

body{
    background-color: #D2B48C;
    font-size: 1em;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    letter-spacing: -0.07em;


}

th{
    background-color: #FFFF99;
    color: #696969;
    padding: 7px;
}




table{
    
    border: solid white;
    background-color: white
}



td{
    background-color: #F08080;
    color: white;
    padding: 7px;
}



fieldset{
    width: 350px;
    border: solid white;
    background-color: #F08080;
}


.middle{
    text-align: center;
    font-size: 2.5em;
}

